
.lets-meet{
    height: 688px;
    background-color: #f0f5f1;
  
      .lets-meet-content{
        width: 50%;
        margin-top: 100px;
        .lets-meet-logo{
            width: 50%;
            color: #356938;
            font-size: 40px;
            line-height: 48px;
            font-weight: 600;
            margin-bottom: 40px;
        }
  
        .lets-meet-text{
          font-size: 14px;
          line-height: 25px;
          color: #356938;
          width: 85%;
          font-family: 'Poppins', sans-serif;
          margin-bottom: 60px;
        }
        .lets-meet-button{
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          
          a{
              background-color: #e0e7e1;
              color: #2d493a;
              text-decoration: none;
              padding: 10px 20px;
          }
          a:hover{
              background-color: #cddfd7;
          }
        }
        
      }
      .lets-meet-img-in-content{
          background-color: #2d493a;
          height: 688px;
          text-align: center;
          width: 50%;
          img{
              height: auto;
              width: 576px;
              
          }
          .lets-meet-img-text{
              padding-top: 30px;
              color: #fff;
              margin-bottom: 5px;
              font-weight: 600;
              font-size: 32px;
              line-height: 40px;
              p{
                  color: #89c461;
                  font-size: 13px;
                  font-family: 'Poppins', sans-serif;
              }
  
          }
  
      }
  }