@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 .bg-Specialist{
    background-color:#486953;
    
 }
 .specialist-logo-img{
    font-family: 'Taviraj', serif;
    width: 0% 50%;
    background-image: url(https://images.wallpaperscraft.ru/image/single/steklo_kapli_dozhd_211596_960x544.jpg);
    background-position: bottom right ;
    background-repeat: no-repeat;
     
    height: 600px;
 
     .logo-img-text{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        font-size: 53px;
        color: #e6f8f7;
        padding-top: 200px;
        line-height: 65px;
        width: 380px;
        font-weight: 600;
        margin-bottom: 100px;
     }

    
 
 }