.like{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    
    width: 40px;
    background-image: url(../assets/LikesBigTwo.png);
    background-position: center;
    background-repeat: no-repeat;
}
.like:hover{
    background-image: url(../assets/LikesBigOne.png) ; 
   
 
}

.see-our-natural{

    background-image: url(../assets/clinic4-home-plants-bg.png);
    height: 1200px;
    background-position: bottom right;
    background-repeat: no-repeat;

    .see-our-natural-logo-text{
        padding-top: 75px;
        font-size: 40px;
        color: #356938;
        font-weight: 500;
        margin-bottom: 65px;

       
    }
    .see-our-natural-content{
        
      
        width: 335px;
        
        .see-our-natural-block{
            margin: 0 auto;
            height: 426px;
            cursor: pointer;
            margin-right: 2.7%;
            background-color: black ;
            position: relative;
            
            img{
                opacity: 1;
                height: 427px;
                width: 325px;
            }

            .see-our-natural-block-logo{
                font-family: 'Poppins', sans-serif;
                color: #83be5b;
                font-size: 25px;
                font-weight: 600;
                text-align: center;
                width: 100%;
                position: absolute;
                top: 70%;
                left: 0;
                z-index: 0;
            }
            .see-our-natural-block-text{
                position: absolute;
                bottom: 30px;
                left: 15px;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                transform: scaleY(0);
                transform-origin: top;
                color: #015708;
                width: 90%;
            }
        }
        .see-our-natural-block:hover .see-our-natural-block-text{
            transform: scaleY(1);
           
            transition: 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
            
        }
        .see-our-natural-block:hover img{
            opacity: 0.5;
        }

        .see-our-natural-button{


            margin:135px 95px 140px 100px;
            

            button{
                height: 80px;
                width: 105px;
                border: none;
                background: none;
                cursor: pointer;
                margin-bottom: 40px;
                img{
                    margin-left: 17px;
                }
            }
            .see-our-natural-button-text{
                font-size: 32px;
                width: 100%;
                color: #356938;
                font-weight: 600;
            }
            

        }


    }












}