@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 .bg{
    background-color:#486953;
 }
 .category-logo-img{
    font-family: 'Taviraj', serif;
    width: 50%;
    background-image: url(https://images.wallpaperscraft.ru/image/single/plantatsiia_ris_selskoe_hoziajstvo_128917_960x544.jpg);
    background-position: bottom ;
    background-repeat: no-repeat;
     
    height: 600px;
 
     .logo-img-text{
        font-family: 'Poppins', sans-serif;
        margin: 0 800px;
        font-size: 53px;
        color: #ffffff;
        padding-top: 200px;
        line-height: 65px;
        width: 680px;
        font-weight: 600;
        margin-bottom: 100px;
     }
     

    
 
 }